.wp-block-column.aof-aca,
.wp-block-column.aof-fou {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 33rem;
}
.wp-block-column.aof-aca h3,
.wp-block-column.aof-fou h3 {
	font-size: 1.3rem;
	margin-top: 1.5rem;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
}
.aof-aca h3 span,
.aof-fou h3 span {
	padding-top: 10px;
}
.aof-aca h3 span:not(:first-of-type)::before,
.aof-fou h3 span:not(:first-of-type)::before {
	border-top: 2px solid #cc0000;
	content: '';
	display: block;
	width: 70%;
	margin-top: 10px;
	margin-left: 15%;
	transform: translateY(-5px);
}

.aof-cards {
	justify-content: center;
}

.aof {
	.aof-card {
		width: 100%;
		a {
			box-shadow: 1px 1px 3px #aaa;
			color: #000;
			display: flex;
			margin-bottom: 0;
			overflow: hidden;
			text-decoration: none;
			transition: .2s all ease;
			img {
				display: block;
				width: 60%;
				transition: .2s all ease;
			}
			span {
				aspect-ratio: 1/1;
				background-color: #fff;
				border-top: 2px solid #cc0000;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				font-size: calc(var(--type__size) * .7);
				margin: 0;
				padding: .5rem;
				position: relative;
				width: calc(42% - .25rem);
				z-index: 1;
			}
			
			&:hover {
				box-shadow: 1px 1px 5px #ddd;
				color: #cc0000;
				transform: translateY(-2px);
				
				img {
					scale: 1.01;
				}
			}
		}
	}
}

.aof-cards {
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
	margin-bottom: 4rem;
}
@media all and (min-width: 500px) {
	.aof {
		.aof-card {
			span {
				font-size: calc(var(--type__size) * .85);
			}
		}
	}
}
@media all and (min-width: 600px) {
	.aof-cards {
		gap: 1rem;
	}
	.aof {
		.aof-card {
			width: calc(50% - .5rem);
			span {
				font-size: calc(var(--type__size) * 1);
			}
		}
	}
}


.aof.thumbs .aof-card {
	width: calc((100%/3) - 1rem);
}
.aof.thumbs .aof-card span {
		font-size: calc(var(--type__size) * .6);
}


ul.aof-related {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
ul.aof-related .title {
	font-size: 1rem;
}


.aof-related,
.aof-other {
	margin-top: calc(var(--type__size) * 3);
}





