.goals-tiles {
	gap: .5rem;
	justify-content: flex-start;
	margin-bottom: calc(var(--type__size) * 2.5);
}
.goals-tiles li {
	font-size: calc(var(--type__size) * 1);
	max-width: calc((100% / 2) - 1rem);
}

.goals-tiles li:hover {
	position: relative;
	z-index: 10;
}
.goals-tiles li a {
	aspect-ratio: 1/1;
	box-shadow: 1px 1px 3px #aaa;
	color: #fff;
	display: block;
	font-size: calc(var(--type__size) * .8);
	font-weight: 700 !important;
	padding: calc(var(--type__size) * .5);
	position: relative;
	text-decoration: none;
	transition: all .2s ease-in-out;
	z-index: 3;
}

@media all and (min-width: 400px) {
	.goals-tiles li a {
		font-size: calc(var(--type__size) * 1);
	}
}
@media all and (min-width: 500px) {
	.goals-tiles li a {
		font-size: calc(var(--type__size) * 1);
		padding: calc(var(--type__size) * 1);
	}
}
@media all and (min-width: 600px) {
	.goals-tiles {
		gap: 1rem;
		justify-content: center;
	}
	.goals-tiles li {
		max-width: calc((100% / 3) - 1rem);
	}
	.goals-tiles li a {
	}
}
@media all and (min-width: 720px) {
	.goals-tiles li a {
		font-size: calc(var(--type__size) * 1.25);
	}
}


.goals-tiles li a:hover {
	box-shadow: 1px 1px 5px #bbb;
	scale: 1;
	transform: translateY(-2px);
}



.goals-tiles.thumbs a {
	font-size: calc(var(--type__size) * .8);
	max-width: 140px;
}

.section-goal {
	margin-bottom: calc(var(--type__size) * 4);
}


.section-goal h2 {
	aspect-ratio: 1/1;
	background-color: rgba(var(--color__2ndary_plum),1);
	color: #fff;
	display: flex;
	align-items: center;
	font-family: var(--type_sans);
	font-size: calc(var(--type__size) * .8) !important;
	font-weight: bold;
	margin-top: calc(var(--type__size) * -5.5);
	margin-left: calc(var(--type__size) * -1);
	margin-bottom: calc(var(--type__size) * 1);
	max-width: calc(var(--type__size) * 7);
	padding: calc(var(--type__size) * .5);
	position: relative;
	z-index: 2;
}

@media all and (min-width: 650px) {
	.section-goal h2 {
		aspect-ratio: 1/1;
		display: flex;
		align-items: center;
		font-size: calc(var(--type__size) * 1.4) !important;
		margin-top: calc(var(--type__size) * -12.5);
		margin-left: calc(var(--type__size) * -1);
		margin-bottom: calc(var(--type__size) * 2);
		max-width: calc(var(--type__size) * 12.5);
		padding: calc(var(--type__size) * 1);
		padding: 1.75rem !important;
		position: relative;
		z-index: 2;
	}
}


.goals-tiles li a[href*="goal1"],
.section-goal-1 h2 {
	background-color: RGBA(var(--color__2ndary_g1));
	color: RGBA(var(--color__2ndary_g1_contrast));
}
.goals-tiles li a[href*="goal2"],
.section-goal-2 h2 {
	background-color: RGBA(var(--color__2ndary_g2));
	color: RGBA(var(--color__2ndary_g2_contrast));
}
.goals-tiles li a[href*="goal3"],
.section-goal-3 h2 {
	background-color: RGBA(var(--color__2ndary_g3));
	color: RGBA(var(--color__2ndary_g3_contrast));
}
.goals-tiles li a[href*="goal4"],
.section-goal-4 h2 {
	background-color: RGBA(var(--color__2ndary_g4));
	color: RGBA(var(--color__2ndary_g4_contrast));
}
.goals-tiles li a[href*="goal5"],
.section-goal-5 h2 {
	background-color: RGBA(var(--color__2ndary_g5));
	color: RGBA(var(--color__2ndary_g5_contrast));
}

