.initiatives {

	.splide__arrow {
		background: #cc0000;
		display: none;
		opacity: .7;
	}
	.splide__arrow svg {
		fill: #fff;
	}

	.splide__arrow--prev {
		left: -1.25rem;
	}
	.splide__arrow--next {
		right: -1.25rem;
	}
	
	a img.wp-post-image {
		display: block;
		margin-bottom: 1rem;
	}
	
	.splide__pagination__page {
		background: #999;
		height: .5rem;
	}
	.splide__pagination__page.is-active {
		background: #cc0000;
	}
}

@media screen and (min-width: 900px) {
	.initiatives {
		.splide__arrow {
			display: flex;
		}
		.splide__arrow--prev {
			left: -3rem;
		}
		.splide__arrow--next {
			right: -3rem;
		}
	}

}