@keyframes arrow-bounce {
  0% {
		transform: translateY(-2rem) rotate(45deg);
  }
  50% {
		transform: translateY(-1rem) rotate(45deg);
  }
  100% {
		transform: translateY(-2rem) rotate(45deg);
  }
}


.home-intro-wrapper {
	scroll-snap-type: y proximity;
}
.home-intro {
	background-size: cover;
	color: #fff;
	font-weight: 600;
	&::after {
		content: "";
		height: 2rem;
		width: 2rem;
		border: 2px solid #fff;
		border-width: 0 2px 2px 0;
		transform: rotate(45deg);
		position: absolute;
		bottom: 1rem;
		z-index: 9;
		animation: 2s ease-in-out 0s 50 arrow-bounce;
	}
}

.home-intro.sticky {
	align-items: flex-end;
	left: 0 !important;
	margin-left: calc(var(--type__size) * -1);
	margin-right: calc(var(--type__size) * -1);
	width: 100vw;
}
@media all and (min-width: 850px) {
	.home-intro.sticky {
		margin-left: calc(-50vw + 403px);
	}
}


.home-body {
	background-color: RGB( var(--color__base_800) );
}

.home-intro.sticky div.column-width {
	margin-bottom: 15vh;
	max-width: 45rem;
	padding: 0;
}
.home-intro.sticky div.title-slide {
	margin-bottom: 15vh;
	padding: 2rem 2.5rem 2.5rem !important;
}

.home-intro h1,
.home-intro p {
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
	display: inline;
	font-family: var(--type__serif);
	position: relative;
	z-index: 10;
}


.home-intro h1 {
	display: block;
	margin: 0 auto;
	padding-top: 0;
	padding-bottom: 0;
	width: 100%;
}


.home-intro h1 {
	font-size: calc(var(--type__size) * 1);
	font-weight: normal;
}
.home-intro h1.lg {
	font-size: calc(var(--type__size) * 2);
	white-space: nowrap;
}
.home-intro p {
	font-size: calc(var(--type__size) * 1.2) !important;
	font-weight: normal;
	line-height: 1.55;
	padding: .125rem .75rem;
}

@media all and (min-width: 550px) {
	.home-intro h1 {
		font-size: calc(var(--type__size) * 1.2);
	}
	.home-intro h1.lg {
		font-size: calc(var(--type__size) * 3.25);
		white-space: nowrap;
	}
	.home-intro p {
	  font-size: calc(var(--type__size) * 1.5) !important;
		line-height: 1.75;
		padding: .375rem 1rem;
	}
}
@media all and (min-width: 720px) {
	.home-intro h1 {
		font-size: calc(var(--type__size) * 1.5);
		white-space: nowrap;
	}
	.home-intro h1.lg {
  	font-size: calc(var(--type__size) * 4.25);
	}
	.home-intro p {
	  font-size: calc(var(--type__size) * 2) !important;
		padding: .5rem 1.25rem;
	}
}

@media all and (min-width: 1080px) {
	.home-intro-1 .wp-block-group.title-slide {
		position: relative;
		width: auto !important;
	}
	.home-intro h1 {
		font-size: calc(var(--type__size) * 2.1);
	}
	.home-intro h1.lg {
  	font-size: calc(var(--type__size) * 5.55);
	}
}



.home-intro strong {
	background-color: RGBA(200,0,0,.8);
	background-color: #cc0000;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	color: #fff;
	display: inline;
	font-weight: normal;
	line-height: 2em;
	margin: 0 -.5em !important;
	padding: .25em .5em;
}

.home-intro-1 .wp-block-group.title-slide,
.home-intro p {
	background-color: rgba(0,0,0,.3);
// 	-webkit-backdrop-filter: blur(4px);
// 	backdrop-filter: blur(4px);
}


.home-intro-1 {
	background-image: url(media/intro/view-from-tilton.jpg);
	background-position: 50% 100%;
}
.home-intro-2 {
	background-image: url(media/intro/good-human.jpg);
	background-position: 0 100%;
}
.home-intro-3 {
	background-image: url(media/intro/classroom.jpg);
	background-position: 50% 100%;
}
.home-intro-4 {
	background-image: url(media/intro/students-walk.jpg?1);	
	background-position: 50% 100%;
}
