
.nav-trad {
	background-color: #cc0000;
	height: 5.25rem;
	padding: .5rem;
	position: relative;
	z-index: 99;
	
	.wp-block-column {
	}
	
	.menu-col {
		display: flex;
		justify-items: flex-end;
	}
	
	nav {
		min-height: 3rem;
	}
}

.nav-trad figure {
	margin-bottom: 0;
}
.nav-trad .column-width {
	gap: .5rem;
}
.nav-trad img {
	max-width: 200px;
}


.main-nav ul {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
}




.main-nav {
	display: block;
	
	.menu-toggle {
		background-color: transparent;
		border: none;
		color: #fff;
		cursor: pointer;
		font-size: calc(var(--type__size) * .7);
		position: absolute;
		top: 1.75rem;
		right: 3rem;
// 		text-indent: 0;
		&:hover {
		}
		&::before,
		&::after {
			border: 1px solid #fff;
			content: '';
			height: calc(var(--type__size) * 0);
			position: absolute;
			right: calc(var(--type__size) * -1);
			transform: rotateZ(0);
			transition: all .3s ease-in-out;
			width: calc(var(--type__size) * .75);
		}
		&::before {
			top: .6em;
		}
		&::after {
			top: .9em;
		}
	}
	
	&.toggled {
		&::before {
			background-color: rgba(var(--color__base_900),1);
			content: '';
			display: block;
			height: 100vh;
			left: 0;
			opacity: .85;
			top: 5.25rem;
			position: fixed;
			width: 100vw;
		}
		.menu-toggle {
			&::before,
			&::after {
				content: '';
				position: absolute;
				height: 0;
				top: .75rem;
			}
		}
		.menu-toggle::before {
			transform: rotateZ(-135deg);
		}
		.menu-toggle::after {
			transform: rotateZ(135deg);
		}
		.menu-navigation-container {
			position: absolute;
			left: 1rem;
			right: 1rem;
			top: 6rem;
		}
	}


}


.main-nav {
	ul {

		ul {
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}


/* Small menu. */
.menu-toggle,
.main-nav.toggled ul {
	display: block;
}

.main-nav {
	li {
		margin: 0;
		padding: 0;
	}
	a {
		color: #cc0000;
		background-color: rgba(255,255,255,0);
		padding: .5rem;
	}
	a:hover {
		background-color: #fff;
	}
	li.current_page_item > a {
		background-color: transparent;
		color: #000;
		pointer-events: none;
	}
}

@media screen and (min-width: 800px) {

	.menu-toggle {
		display: none;
	}

	.main-nav ul {
		display: flex;
		padding: 0 0 .3rem;
		text-align: center;
	}

	.main-nav ul li {
		font-size: calc(var(--type__size) * .7);
		display: inline;
		margin: .75rem 0 0;
		padding: 0;
	}
	.main-nav li a {
		background-color: transparent;
		color: #fff;
		display: inline;
		padding: .5rem;
		text-decoration: none;
		&:hover {
			background-color: transparent;
			text-decoration: underline;
		}
	}
	.main-nav li.current_page_item > a {
		background-color: transparent;
		color: #fff;
		text-decoration: underline;
	}
	
	
}
